<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>arraySort.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>DB30F9501B8E935D00D5F988</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DB30F9671B8E935D00D5F988</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DB30F9721B8E935D00D5F988</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
